
<h1>Registre su empresa</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="field">
        <label>ID:</label>
        <input type="number" pInputText formControlName="id"/>
    </div>
    <label>Nombre de la empresa:</label>
    <input type="text" pInputText formControlName="name"/>
    <small *ngIf="form.controls['name'].errors && form.controls['name'].touched">
        Tiene errores
    </small>
    <br>

    <label>Ruc:</label>
    <input type="text" pInputText formControlName="name" formControlName="ruc"/>
    <small *ngIf="form.controls['ruc'].errors && form.controls['ruc'].touched">
        Tiene errrores
    </small>
    <br>
    <label>Fecha de inauguración</label>
    <p-calendar inputId="birthdate"
                        formControlName="openingdate"
                        [showIcon]="true"
    ></p-calendar>
    <br>
    <label>Numero de empleados</label>
    <p-inputNumber inputId="age"
                         formControlName="employees"
                         [showButtons]="true"
                         [min]="0"
                         [step]="100"
    ></p-inputNumber>
    <br>
    
    <label>Cuanto dinero ganan?</label>
    <p-inputNumber  formControlName="money" 
                    inputId="currency-us" 
                    mode="currency" 
                    currency="USD" 
                    locale="en-US"> 
    </p-inputNumber>
    <br>
    <label>Acepta los terminos y condiciones</label>
    <p-checkbox  formControlName="state" 
                [binary]="true" 
                inputId="binary">
    </p-checkbox>
    <small *ngIf="form.controls['state'].errors && form.controls['state'].touched ">
        El checkbox debe estar seleccionado.
    </small>
    <br>
    <label>califiquenos</label>
    <p-rating formControlName="stars"></p-rating>
    <br>
    <label>Ingrese etuiquetas de a que se dedica</label>
    <p-chips formControlName="tags" separator="," ></p-chips>
    <br>
    <label>Ingrese una contraseña</label>
    <p-password  formControlName="psword" class="ng-invalid ng-dirty"></p-password>
    <br>
    <div class="field">
        <button pButton type="submit" label="Guardar"></button>
        <button pButton type="button" class="p-button-warning" label="Actualizar" (click)="updateEmpresa()"></button>
        <button pButton type="button" class="p-button-success" label="Ver Listado" [routerLink]="['/empresa-list']"></button>
    </div>
    
</form>
{{form.value|json}}